<a href="https://colab.research.google.com/github/Team-Alohomora/Data_Storm-Storming_Round/blob/main/Notebook-01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


import pandas as pd
import numpy as np
import random
from collections import Counter

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', 500)

In [44]:
train = pd.read_csv('train_data.csv')
train.shape

(19921, 4)

In [45]:
test = pd.read_csv('test_data.csv')
test.shape

(377, 4)

In [46]:
train.dtypes

CategoryCode    object
ItemCode         int64
DateID          object
DailySales       int64
dtype: object

In [47]:
train.head(20)

   CategoryCode  ItemCode      DateID  DailySales
0    category_2    117610   11/6/2021           7
1    category_4    836584  11/18/2021          16
2    category_1    370195   1/24/2022           6
3    category_2    172582  10/30/2021           5
4    category_2   1006009  10/30/2021           5
5    category_2    903976    1/6/2022           1
6    category_1    145978  10/30/2021           3
7    category_1   1061341   1/24/2022           5
8    category_1    371239    1/5/2022           1
9    category_2    865933    2/8/2022           3
10   category_3   1081087    1/4/2022           1
11   category_1   1061341   12/7/2021           8
12   category_1   1032550  10/30/2021           1
13   category_2   1090249  10/23/2021           3
14   category_3    169504    1/5/2022         120
15   category_2   1067092   11/6/2021           8
16   category_1   1054978    2/8/2022           7
17   category_1   1050046  10/30/2021           3
18   category_1   1044610   12/7/2021           2
19   category_2    138742    2/8/2022           9

In [48]:
train_count_of_missval_by_col = (train.isnull().sum())
print('-----------------Only columns which has missing values-------------')
print(train_count_of_missval_by_col[train_count_of_missval_by_col>0])

print('-----------------Propotion of the missing data to total observations-------------')
(train_count_of_missval_by_col[train_count_of_missval_by_col > 0]/train.shape[0])*100

-----------------Only columns which has missing values-------------
Series([], dtype: int64)
-----------------Propotion of the missing data to total observations-------------

Series([], dtype: float64)

In [49]:
test_count_of_missval_by_col = (test.isnull().sum())
test_count_of_missval_by_col

test_count_of_missval_by_col[test_count_of_missval_by_col > 0]

(test_count_of_missval_by_col[test_count_of_missval_by_col > 0]/test.shape[0])*100

CategoryCode        0
ItemCode            0
Week                0
PredictedSales    377
dtype: int64

PredictedSales    377
dtype: int64

PredictedSales    100.0
dtype: float64

In [50]:
train.describe()

train['CategoryCode'] = train['CategoryCode'].astype(str)

           ItemCode    DailySales
count  1.992100e+04  19921.000000
mean   6.110610e+05      7.351890
std    4.549868e+05     14.605342
min    3.418000e+03      1.000000
25%    1.176100e+05      2.000000
50%    8.379430e+05      3.000000
75%    1.058713e+06      7.000000
max    1.105027e+06    434.000000

In [51]:
train['CategoryCode'].value_counts()
train['CategoryCode'].value_counts(normalize=True)*100

category_2    9203
category_1    6841
category_3    2360
category_4    1517
Name: CategoryCode, dtype: int64

category_2    46.197480
category_1    34.340646
category_3    11.846795
category_4     7.615080
Name: CategoryCode, dtype: float64

In [52]:
train = train[train['CategoryCode'] != 0]
train.shape

train = train[train['ItemCode'] != 0]
train.shape

(19921, 4)

(19921, 4)

In [42]:
from sklearn.impute import SimpleImputer 

mode_imputer = SimpleImputer(missing_values=np.NaN, strategy='most_frequent')
mode_imputer = mode_imputer.fit(train[['DailySales']])
train['DailySales'] = mode_imputer.transform(train[['DailySales']]).ravel()